@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 .container::before{
  filter: blur(20px);

}

.container {
  width: 400px;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(255, 255, 255, 0.15); */
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  background-color: #4be9fa;
}

form h2 {
  color: #141414;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.6px;
}

.input-group {
  position: relative;
  width: 320px;
  margin: 30px;
}

.input-group input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  color: #000000;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 0.8px;
  z-index: 9;
}

.input-group label {
  position: absolute;
  color: #070707;
  left: 0;
  font-size: 16px;
  padding: 20px 0 10px;
  pointer-events: none;
  letter-spacing: 0.8;
  transition: 0.5s;
  font-weight: 500;
}
.input-group input:valid ~ label,
.input-group input:focus ~ label {
  color: #070707;
  transform: translateX(0) translateY(-34px);
}

.input-group .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  /* transition: 0.5s; */
  /* pointer-events: none; */
}

.check {
  display: flex;
  justify-content: space-between;
}

.check label,
.check a {
  margin: 20px 0;
  font-size: 14px;
  color: #030303;
  cursor: pointer;
}

.check label {
  display: flex;
  align-items: center;
  color: #070707;
  position: relative;
  padding-left: 20px;
}

.check label input {
  appearance: none;
  position: absolute;
  left: 0;
}

.check label input::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 4px;
  background: #14141473;
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.check label input:checked::before {
  content: "\2714";
  background: rgba(15, 15, 15, 0.15);
}

.check a {
  text-decoration: none;
}

form button {
  width: 100%;
  color: #000000;
  border: none;
  outline: none;
  height: 44px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(24, 23, 23, 0.15);
  cursor: pointer;
}

form button:active {
  opacity: 0.8;
}

.signup {
  margin-top: 20px;
  text-align: center;
}

.signup p {
  font-size: 14px;
  color: #050505;
}

.signup p a {
  color: #000000;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  .input-group {
    width: 80%;
  }

  .check {
    padding: 0 20px;
  }

  .check label,
  .check a {
    margin: 10px 10px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
  }

  form {
    display: flexbox;
    align-items: center;
    justify-content: center;
  }

  form button {
    margin: 10px 28px;
    height: 40px;
    width: 80%;
  }
}
